/* 3f.html ~ 11f.html */

@charset 'UTF-8';

.floor {
  border: 2px solid rebeccapurple;
  overflow: auto;
  text-align: center;
}

/* .title {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid black;
  border-radius: 80px;
  width: 100px;
  height: 60px;

  text-align: center;
} */

p {
  position: absolute;
  margin: 50px;
  width: 100px;
  height: 70px;
  /* 要素内の余白 */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid black;
  border-radius: 80px;
  color: #ff0000;
  font-weight: 500;
  font-size: 62px;
  background-color: #fff;
  text-decoration: none;
}

img {
  max-width: calc(90vw - 40px);
  margin-top: 100px;
}

.back {
  position: absolute;
  right: 50px;
  bottom: 50px;
  /* 要素内の余白 */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #747578;
  border-radius: 80px;
  color: #ff0000;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  text-decoration: none;
}

.back:hover {
  opacity: .6;
}